{{template "header"}}
<link rel="stylesheet"  href="/static/css/signin.css">
<title>登录，我的博客</title>
</head>
<body>
    <div class="container">
       <center><h1>这是开发进度展示</h1></center>
       <h4>有序列表</h4>
       <ol>
         <li>Item 1</li>
         <li>Item 2</li>
         <li>Item 3</li>
         <li>Item 4</li>
       </ol>
    </div>







     <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</body>
</html>